body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}
.container {
    margin-top: 50px;
}
h1 {
    color: #ff7f00;
}
.input-group {
    margin: 10px 0;
display: flex; 
    
    gap: 10px;
}
input {
    padding:10px;
    margin: 5px;
    width: 100px;
    font-size: 16px;
    border-width: 1px;
    border-color: #D3D3D3; 
    border-radius: 10px; 
display: inline-block;
}
button {
    width: 130px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff7f00;
    color: white;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
}
button:hover {
    background-color: #e67300;
}
.result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}